<div class="d-flex align-items-center justify-content-center">
  <div>
    <h1>Edit your profile</h1>
  </div>
</div>
<%= form_with(model: @profile, local: true) do |form| %>
  <% if @profile.errors.any? %>
    <div class="alert alert-danger">
      <% @profile.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="form-inputs">
    <div class="form-floating mb-3">
      <%= form.text_field :email, class:"form-control", id: "floatingEmail" %>
      <%= form.label :email, class: "form-label", for:"floatingEmail" %>
    </div>
    <div class="form-floating mb-3">
      <%= form.text_field :name, class:"form-control", id: "floatingName" %>
      <%= form.label :name, class: "form-label" %>
    </div>
  </div>
  <div data-controller="nested-form">
    <template data-target="nested-form.template">
      <%= form.fields_for :socials, Social.new, child_index: 'NEW_RECORD' do |social| %>
        <%= render 'social', form: social %>
      <% end %>
    </template>
    <%= form.fields_for :socials do |social| %>
      <%= render 'social' , form: social %>
    <% end %>
    <div class="mb-3" data-target="nested-form.links">
      <%= link_to 'Add Social', "#", class: "btn btn-outline-primary", data: { action: "click->nested-form#add_association" } %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.submit "save", class:"btn btn-dark" %>
  </div>
<% end %>
